* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

nav {
  background: whitesmoke;
  height: 50px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label.logo {
  color: black;
  font-size: 25px;
  line-height: 50px;
  padding: 0 25px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0 5px;
}

nav ul li a {
  font-family: 'Montserrat', sans-serif;
  color: gray;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 13px;
}

nav ul li a:hover {
  color: orange;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}

#check {
  display: none;
}

section {
  margin-top: 5%;
  margin-bottom: 5%;
}

.slogan {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: gray;
  text-align: center;
}

.slogan-text {
  color: white;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  nav {
    height: 60px;
  }
  label.logo {
    line-height: 60px;
  }
  .checkbtn {
    display: block;
    line-height: 65px;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked~ul {
    left: 0;
  }
  .conatainer-banner {
    display: block;
  }
  .banner-image-hero {
    display: block;
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-intro {
    padding: 5vh;
    font-size: 1.5em;
    text-align: center;
  }
  .bannr-intro-text {
    font-weight: 500;
  }
  .skill-field {
    padding: 5%;
    height: 15vh;
  }
  .box-shadow {
    text-align: center;
    width: 70vw;
    height: 10vh;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .skill-text {
    font-weight: 500;
    padding: 5.5%;
    font-size: 1.5em;
  }
  .resume-view {
    padding: 5%;
    width: 90vw;
    margin: auto;
  }
  .resume-view-button {
    background-color: orange;
    border: none;
    font-size: 1.2em;
    width: 80vw;
    height: 10vh;
    color: white;
  }
  .heading-about {
    width: 90vw;
    margin: auto;
    text-align: center;
    height: 10vh;
  }
  .about-heading {
    color: yellow;
    font-weight: 500;
    padding: 5%;
    font-size: 2em;
  }
  .container-about {
    background-color: gray;
    height: 50vh;
    display: grid;
    grid-template-rows: 1fr 3fr;
    padding: 5%;
  }
  .more_about_me {
    margin: auto;
    width: 90vw;
    text-align: center;
  }
  .more-about-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: white;
    padding-bottom: 5%;
  }
  .eduction-heading {
    color: black!important;
  }
  .education-field {
    margin-top: 5%;
  }
  .education-field-deatils {
    padding: 5%;
    border: 1px solid orange;
    height: 15vh;
    text-align: center;
    width: 70vw;
    margin: auto;
  }
  .eduaction-heading {
    font-size: 1.1em;
  }
  .sub-education-heading {
    margin-top: 3%;
    font-size: 1em;
    font-weight: 300;
  }
  .skill-heading {
    margin-bottom: 5%;
  }
  .myskill-heading {
    color: black!important;
  }
  .skill-text {
    margin-top: 3%;
  }
  .skill-text-container:first-child {
    margin-top: 15%;
  }
  .skill-text-container {
    text-align: center;
    margin: auto;
    width: 50vw;
    border: 1px solid orange;
  }
  .box-shadow-skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 60vh;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
  }
  .project-image-hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .git-box {
    height: 15vh;
    margin-top: 5%;
    padding: 5%;
  }
  .git-link {
    font-weight: 500;
  }
  .project-container {
    padding-bottom: 15%;
  }
  .contact-btn {
    font-size: 2em;
  }
  #footer {
    background-color: gray;
    margin-bottom: 0%;
  }
  .footer-container {
    text-align: center;
    margin-bottom: 0;
  }
  .footer-heading {
    font-size: 1.2em;
  }
  .footer-end-heading {
    font-size: 1em;
    color: white;
    text-transform: capitalize;
  }
}

@media screen and (min-width: 768px) {
  .container-banner {
    margin: auto;
    height: 80vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .banner-intro {
    margin-top: 10%;
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
    margin-bottom: auto;
  }
  .banner-image {
    grid-row: 1/-1;
    grid-column: 4/-1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bannr-intro-text {
    font-size: 3em;
    font-weight: 500;
  }
  .skill-field {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-shadow {
    width: 90%;
    height: 10vh;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
  }
  .skill-text {
    margin-top: 3%;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
  }
  .resume-view {
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    grid-row: 3/4;
  }
  .resume-view-button {
    background-color: orange;
    border: none;
    font-size: 1.2em;
    width: 20vw;
    height: 10vh;
    color: white;
  }
  .container-about {
    height: 20vh;
    display: flex;
    width: 80vw;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  #about {
    background-color: gray;
  }
  .heading-about {
    text-align: center;
    flex: 2;
  }
  .about-heading {
    font-size: 3em;
    font-weight: 500;
  }
  .more_about_me {
    text-align: start;
    flex: 6;
  }
  .more-about-text {
    font-size: 1.2em;
    font-weight: 500;
    color: white;
  }
  .eduction-heading {
    font-size: 3em;
    color: black;
  }
  .container-education {
    margin-top: 5%;
    display: flex;
    justify-content: center;
  }
  .education-field {
    margin: 1%;
    border: 1px solid orange;
    padding: 5%;
    width: 25vw;
  }
  .eduaction-heading {
    text-align: center;
    font-size: 1em;
    font-weight: 500;
  }
  .sub-education-heading {
    font-size: .8em;
    font-weight: 300;
    text-align: center;
  }
  .box-shadow-skill {
    margin-top: 5%;
    margin-left: 10%;
    display: grid;
    padding-left: 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 10%;
    width: 80vw;
    height: 40vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .skill-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid orange;
    width: 30vw;
    height: 15vh;
  }
  .project-image-hero {
    margin-top: 5%;
    display: flex;
    justify-content: center;
  }
  .git-box-contianer {
    display: flex;
    justify-content: center;
    margin: 0% 7%;
  }
  .git-box {
    margin-left: 5%;
    text-align: center;
    margin-top: 5%;
    width: 25vw;
    height: 25vh;
  }
  .git-link{
    font-weight: 500;
  }
  .contact-button {
    margin-top: 5%;
    width: 30vw;
  }
  #footer {
    background-color: gray;
    margin-bottom: 0%;
  }
  .footer-container {
    margin-top: 5%;
    text-align: center;
  }
  .footer-heading-text {
    padding-top: 5%;
    font-size: 1.3em;
  }
  .footer-end-heading {
    padding-top: 2%;
    font-size: 1em;
    color: white;
    text-transform: capitalize;
    height: 10vh;
  }
}